src/__pycache__/
src/analysis/__pycache__/
src/feature_engineering/__pycache__/
src/modeling/__pycache__/
src/preprocessing/__pycache__/

.idea/
.venv/

data/processed/tjsp_features.csv
data/processed/tjsp_translated.csv
data/TJSP-BL-event-log.csv